USE [qws]
GO
/****** Object:  Table [dbo].[car]    Script Date: 27.12.2025 2:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[car](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[marka] [nvarchar](50) NOT NULL,
	[number] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_car] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cargo]    Script Date: 27.12.2025 2:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cargo](
	[cargo_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[description] [nvarchar](500) NOT NULL,
	[weight_kg] [decimal](10, 2) NOT NULL,
	[volume_m3] [decimal](10, 2) NULL,
	[cargo_type] [nvarchar](50) NOT NULL,
	[packaging] [nvarchar](100) NULL,
	[special_requirements] [nvarchar](500) NULL,
	[insurance_amount] [decimal](15, 2) NULL,
	[created_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cargo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 27.12.2025 2:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[order_number] [nvarchar](50) NOT NULL,
	[client_id] [int] NOT NULL,
	[cargo_id] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[departure_point] [nvarchar](200) NOT NULL,
	[destination_point] [nvarchar](200) NOT NULL,
	[planned_delivery_date] [date] NOT NULL,
	[actual_delivery_date] [date] NULL,
	[distance_km] [int] NULL,
	[total_cost] [decimal](15, 2) NOT NULL,
	[paid_amount] [decimal](15, 2) NULL,
	[payment_status] [nvarchar](20) NULL,
	[payment_date] [date] NULL,
	[created_by] [int] NOT NULL,
	[created_date] [datetime] NOT NULL,
	[updated_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[routes]    Script Date: 27.12.2025 2:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[routes](
	[route_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[car_id] [int] NOT NULL,
	[driver_id] [int] NOT NULL,
	[route_number] [nvarchar](50) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NULL,
	[planned_duration_hours] [int] NULL,
	[actual_duration_hours] [int] NULL,
	[fuel_planned] [decimal](10, 2) NULL,
	[fuel_actual] [decimal](10, 2) NULL,
	[status] [nvarchar](50) NOT NULL,
	[notes] [nvarchar](500) NULL,
	[created_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[route_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_car_load_percentage]    Script Date: 27.12.2025 2:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_car_load_percentage] AS
SELECT 
    c.ID AS car_id,
    c.marka,
    c.number,
    c.capacity_kg,
    ISNULL(SUM(cg.weight_kg), 0) AS total_cargo_weight,
    CASE 
        WHEN c.capacity_kg > 0 
        THEN ROUND((ISNULL(SUM(cg.weight_kg), 0) * 100.0 / c.capacity_kg), 2)
        ELSE 0 
    END AS load_percentage,
    CASE 
        WHEN ISNULL(SUM(cg.weight_kg), 0) > c.capacity_kg 
        THEN 'Перегружен'
        WHEN (ISNULL(SUM(cg.weight_kg), 0) * 100.0 / c.capacity_kg) >= 80 
        THEN 'Высокая загрузка'
        WHEN (ISNULL(SUM(cg.weight_kg), 0) * 100.0 / c.capacity_kg) >= 50 
        THEN 'Средняя загрузка'
        ELSE 'Низкая загрузка'
    END AS load_status
FROM car c
LEFT JOIN routes r ON c.ID = r.car_id AND r.status IN ('В пути', 'Запланирован')
LEFT JOIN orders o ON r.order_id = o.order_id
LEFT JOIN cargo cg ON o.cargo_id = cg.cargo_id
WHERE c.capacity_kg IS NOT NULL
GROUP BY c.ID, c.marka, c.number, c.capacity_kg;
GO
/****** Object:  Table [dbo].[drivers]    Script Date: 27.12.2025 2:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[drivers](
	[driver_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[license_number] [nvarchar](50) NOT NULL,
	[license_expiry] [date] NULL,
	[medical_check_date] [date] NULL,
	[experience_years] [int] NULL,
	[phone] [nvarchar](20) NULL,
	[is_available] [bit] NOT NULL,
	[notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[driver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[expenses]    Script Date: 27.12.2025 2:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[expenses](
	[expense_id] [int] IDENTITY(1,1) NOT NULL,
	[route_id] [int] NOT NULL,
	[expense_type] [nvarchar](50) NOT NULL,
	[amount] [decimal](15, 2) NOT NULL,
	[expense_date] [date] NOT NULL,
	[description] [nvarchar](300) NULL,
	[receipt_number] [nvarchar](100) NULL,
	[created_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[expense_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gps_tracking]    Script Date: 27.12.2025 2:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gps_tracking](
	[track_id] [int] IDENTITY(1,1) NOT NULL,
	[route_id] [int] NOT NULL,
	[car_id] [int] NOT NULL,
	[latitude] [decimal](10, 8) NOT NULL,
	[longitude] [decimal](11, 8) NOT NULL,
	[speed_kmh] [decimal](5, 2) NULL,
	[fuel_level] [decimal](5, 2) NULL,
	[engine_hours] [decimal](10, 2) NULL,
	[tracking_time] [datetime] NOT NULL,
	[address] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[track_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maintenance]    Script Date: 27.12.2025 2:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maintenance](
	[maintenance_id] [int] IDENTITY(1,1) NOT NULL,
	[car_id] [int] NOT NULL,
	[maintenance_type] [nvarchar](50) NOT NULL,
	[scheduled_date] [date] NOT NULL,
	[actual_date] [date] NULL,
	[description] [nvarchar](500) NOT NULL,
	[parts_cost] [decimal](15, 2) NULL,
	[labor_cost] [decimal](15, 2) NULL,
	[total_cost] [decimal](15, 2) NULL,
	[mechanic_name] [nvarchar](100) NULL,
	[service_company] [nvarchar](200) NULL,
	[status] [nvarchar](50) NOT NULL,
	[notes] [nvarchar](500) NULL,
	[created_by] [int] NOT NULL,
	[created_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maintenance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 27.12.2025 2:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[IsBlocked] [nvarchar](1) NULL,
	[Заказ] [nvarchar](50) NOT NULL,
	[Пункт_отправления] [nvarchar](50) NOT NULL,
	[Пункт_выдачи] [nvarchar](50) NOT NULL,
	[Дата_доставки] [nvarchar](50) NOT NULL,
	[Дата_оплаты] [date] NULL,
	[Сумма] [nvarchar](50) NULL,
	[id_car] [int] NULL,
	[LastLoginDate] [datetime] NULL,
	[FailedAttempts] [int] NOT NULL,
	[BlockedUntil] [datetime] NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](300) NULL,
	[PassportSeries] [nvarchar](10) NULL,
	[PassportNumber] [nvarchar](20) NULL,
	[PassportIssuedBy] [nvarchar](300) NULL,
	[PassportIssueDate] [date] NULL,
	[MustChangePassword] [bit] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cargo] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[drivers] ADD  DEFAULT ((1)) FOR [is_available]
GO
ALTER TABLE [dbo].[expenses] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[gps_tracking] ADD  DEFAULT (getdate()) FOR [tracking_time]
GO
ALTER TABLE [dbo].[maintenance] ADD  DEFAULT ('Запланировано') FOR [status]
GO
ALTER TABLE [dbo].[maintenance] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('Создан') FOR [status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [paid_amount]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('Не оплачено') FOR [payment_status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[routes] ADD  DEFAULT ('Запланирован') FOR [status]
GO
ALTER TABLE [dbo].[routes] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF__users__FailedAtt__6FE99F9F]  DEFAULT ((0)) FOR [FailedAttempts]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF__users__MustChang__7A672E12]  DEFAULT ((1)) FOR [MustChangePassword]
GO
ALTER TABLE [dbo].[drivers]  WITH CHECK ADD  CONSTRAINT [FK_drivers_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[drivers] CHECK CONSTRAINT [FK_drivers_users]
GO
ALTER TABLE [dbo].[expenses]  WITH CHECK ADD  CONSTRAINT [FK_expenses_routes] FOREIGN KEY([route_id])
REFERENCES [dbo].[routes] ([route_id])
GO
ALTER TABLE [dbo].[expenses] CHECK CONSTRAINT [FK_expenses_routes]
GO
ALTER TABLE [dbo].[gps_tracking]  WITH CHECK ADD  CONSTRAINT [FK_gps_tracking_routes] FOREIGN KEY([route_id])
REFERENCES [dbo].[routes] ([route_id])
GO
ALTER TABLE [dbo].[gps_tracking] CHECK CONSTRAINT [FK_gps_tracking_routes]
GO
ALTER TABLE [dbo].[maintenance]  WITH CHECK ADD  CONSTRAINT [FK_maintenance_car] FOREIGN KEY([car_id])
REFERENCES [dbo].[car] ([ID])
GO
ALTER TABLE [dbo].[maintenance] CHECK CONSTRAINT [FK_maintenance_car]
GO
ALTER TABLE [dbo].[maintenance]  WITH CHECK ADD  CONSTRAINT [FK_maintenance_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([ID])
GO
ALTER TABLE [dbo].[maintenance] CHECK CONSTRAINT [FK_maintenance_created_by]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_cargo] FOREIGN KEY([cargo_id])
REFERENCES [dbo].[cargo] ([cargo_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_cargo]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_clients] FOREIGN KEY([client_id])
REFERENCES [dbo].[users] ([ID])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_clients]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([ID])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_created_by]
GO
ALTER TABLE [dbo].[routes]  WITH CHECK ADD  CONSTRAINT [FK_routes_driver] FOREIGN KEY([driver_id])
REFERENCES [dbo].[drivers] ([driver_id])
GO
ALTER TABLE [dbo].[routes] CHECK CONSTRAINT [FK_routes_driver]
GO
ALTER TABLE [dbo].[routes]  WITH CHECK ADD  CONSTRAINT [FK_routes_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[routes] CHECK CONSTRAINT [FK_routes_orders]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_car] FOREIGN KEY([id_car])
REFERENCES [dbo].[car] ([ID])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_car]
GO
